<ion-view  view-title="Tutor Login Area">
	<ion-nav-title>
		<div class="bar bar-header bar-calm">
		  <h1 class="title">Tutor Login</h1>
		</div>
	</ion-nav-title>
    <ion-content>
		<div class="im-wrapper">
			<div class="list ">	
				<div id = "app-logo">
					<img src = "../img/logo.jpg" width=200 />
				</div>
				<div class="card" ng-if="error || success">
				  <div class="item item-text-wrap">
						<p ng-if="error" style = "color: red"><i class ="icon ion-close-circled"></i> <span ng-bind-html="error"></span></p>
						<p ng-if="success"  style = "color: green"><i class ="icon ion-checkmark-circled"></i> <span ng-bind-html="success"></span></p>
				  </div>
				</div>
				<label class="item item-input item-floating-label">
					<input type="text" placeholder = "Email or Username" ng-model="user.username">
				</label>
				<label class="item item-input item-floating-label">
					<input type="password" placeholder = "Your Password" ng-model="user.password">
				</label>
				<button ng-click="login()" class="button button-block button-calm">
					<i class = "icon ion-loading-b"></i> Login
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>